body {
    color: #c9a24d;
    background-image: url("/images/fond.png");
}

a {
    text-decoration: none;
    color: #c9a24d;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4b1c1c;
    margin: 20% 30% 10%;
    padding: 20px;
    border-radius: 18px;
}

.container {
  display: flex;
  gap: 1rem;
}

input {
  width: 120px;
  padding: 0.6rem;
  background: #14171a;
  color: #e6e6e6;
  border: 1px solid #4b5157;
  border-radius: 10px;
  outline: none;
  text-align: center;
}

/* correct */
input.correct {
  border-color: #2ecc71;
  box-shadow: 0 0 12px rgba(46, 204, 113, 0.7);
}

/* incorrect */
input.wrong {
  border-color: #e74c3c;
  box-shadow: 0 0 12px rgba(231, 76, 60, 0.7);
}
